.pane {
 -fx-background-color:red;

}/*


/*************** tab styles ******************************** */

.tab-pane *.tab-header-background {
    -fx-background-color:#9fc9eb;
}

.tab {
-fx-background-color:#e0e7f2;
-fx-background-insets: 0 0.3em 0 0, 1 5em 1 1, 2 5em 0 0;
-fx-padding: 0.0em 1em 0.0em 0.5em;
}

.title-pane
{
	-fx-background-color:#3a5a86;
	-fx-fill:white;

}
